#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define SYM 1

/ {

keymap {
    compatible = "zmk,keymap";

    default_layer {
        bindings = <
        &kp LBKT  &kp W     &kp F     &kp P   &kp B                             &kp J     &kp L     &kp U     &kp Y     &kp RBKT    
        &kp A     &kp R     &kp S     &kp T   &kp G      &kp LGUI    &kp RCTRL  &kp M     &kp N     &kp E     &kp I     &kp O 
        &kp COMMA &kp X     &kp C     &kp D   &kp V 	 &kp LCTRL   &kp RALT   &kp K     &kp H     &kp Z     &kp DOT   &kp Q 
                  &kp LGUI  &kp DEL   &kp TAB &kp SPACE  &sl SYM     &sl SYM    &kp K     &kp H     &kp Z     &kp RALT
        >;
    };

    symbol_layer {
        bindings = <
        &kp STAR  &kp HASH  &kp LBKT &kp RBKT &kp B                            &kp J     &kp L     &kp U     &kp Y     &kp RBKT    
        &kp A     &kp R     &kp S    &kp T    &kp G     &kp LGUI    &kp RCTRL  &kp M     &kp N     &kp E     &kp I     &kp O 
        &kp COMMA &kp X     &kp C    &kp D    &kp V 	&kp LCTRL   &kp RALT   &kp K     &kp H     &kp Z     &kp DOT   &kp Q 
                  &kp LGUI  &kp DEL  &kp TAB  &kp SPACE &kp LSHIFT  &kp RSHIFT &kp K     &kp H     &kp Z     &kp RALT
        >;

    };
};

};
