#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define SYM 1
#define NUM 2
#define NAV 3

/ {

keymap {
    compatible = "zmk,keymap";

    default_layer {
        bindings = <
        &kp LBKT  &kp W     &kp F     &kp P   &kp B                             &kp J     &kp L     &kp U     &kp Y     &kp RBKT    
        &kp A     &kp R     &kp S     &kp T   &kp G      &kp LGUI   &kp RCTRL   &kp M     &kp N     &kp E     &kp I     &kp O 
        &kp COMMA &kp X     &kp C     &kp D   &kp V 	 &kp LCTRL  &kp RALT    &kp K     &kp H     &kp Z     &kp DOT   &kp Q 
                  &kp LGUI  &kp DEL   &kp TAB &lt NAV SPACE &sl SYM &sl SYM   &lt NUM RET &kp BSPC  &kp ESC   &kp RALT
        >;
    };

    symbol_layer {
        bindings = <
        &kp STAR  &kp HASH  &kp LBKT &kp RBKT  &kp DOLLAR                        &kp PRCNT &kp GT    &kp LT    &kp EQUAL &kp RBKT    
        &kp COLON &kp UNDER &kp LPAR &kp DQT   &kp FSLH  &kp  LGUI    &kp  RCTRL &kp AMPS  &kp SQT   &kp LBRC  &kp MINUS &kp SEMI 
        &kp TILDE &kp AT    &kp RPAR &kp QMARK &kp BSLH  &kp  LCTRL   &kp  RALT  &kp PIPE  &kp EXCL  &kp RBRC  &kp CARET &kp GRAVE 
                  &kp LGUI  &kp DEL  &kp TAB   &kp SPACE &sl  SYM     &sl  SYM   &kp RET   &kp BSPC  &kp ESC   &kp RALT
        >;
    };

    number_layer {
        bindings = <
        &kp STAR  &kp N7    &kp N8    &kp N9    &kp PLUS                          &kp PRCNT &kp GT    &kp LT    &kp EQUAL &kp RBKT    
        &kp N0    &kp N4    &kp N5    &kp N6    &kp DOT   &kp  PRCNT   &kp  RCTRL &kp FSLH  &kp EQUAL &kp PLUS  &kp MINUS &kp STAR 
        &kp FSLH  &kp N1    &kp N2    &kp N3    &kp MINUS &kp  EQUAL   &kp  RALT  &kp DLLR  &kp LPAR  &kp RPAR  &kp DOT   &kp COMMA 
                  &kp LGUI  &kp DEL   &kp TAB   &kp SPACE &sl  SYM     &sl  SYM   &kp RET   &kp BSPC  &to DEF   &kp RALT
        >;

    };

    navigation_layer {
        bindings = <
        &kp LBKT  &kp W     &kp F     &kp P   &kp B                             &kp J     &kp L     &kp U     &kp Y     &kp RBKT    
        &kp A     &kp R     &kp S     &kp T   &kp G      &kp LGUI   &kp RCTRL   &kp M     &kp N     &kp E     &kp I     &kp O 
        &kp COMMA &kp X     &kp C     &kp D   &kp V 	 &kp LCTRL  &kp RALT    &kp K     &kp H     &kp Z     &kp DOT   &kp Q 
                  &kp LGUI  &kp DEL   &kp TAB &kp SPACE  &sl SYM    &sl SYM   &lt NUM RET &kp BSPC  &kp ESC   &kp RALT
        >;
    };

};

};
