if DEFIANT_LEFT || DEFIANT_RIGHT # TODO  Remove right half here once battery is installed

config ZMK_KEYBOARD_NAME
    default "Defiant"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if DEFIANT_LEFT || DEFIANT_RIGHT

config ZMK_SPLIT
    default y

endif
